recursive-include data *
recursive-include src/revpicommander *.py *.qm
recursive-include ui_dev *
include LICENSE.txt
include make.bat
include Makefile
include MANIFEST.in
include README.md
include requirements.txt
include setup.iss
include setup.py
include translate.pro
