[Desktop Entry]
Name=RevPi Commander
Comment=Controls the Python PLC program on your Revolution PI
Comment[de]=Kontrolliert das Python PLC Programm auf dem Revolution PI
Exec=/usr/bin/revpicommander
Icon=revpicommander
Terminal=false
Type=Application
Categories=Application;
